<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронная очередь</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="D:\Projects\hackathon2023-\static\style.css" />
</head>

<body>
    <script src="D:\Projects\hackathon2023-\static\main.js"></script>
    <nav>
        <div class="nav__inner">
            <img src="D:\Projects\hackathon2023-\assets\rsk_logo.png" alt="logo.svg" />
            <div class="nav__inner_list">
                <p>Контакты</p>
                <p>Банкоматы и отделения</p>
                <button>Эл.очередь</button>
            </div>
        </div>
    </nav>

    <section class="container info">
        <div class="info__description">
            <form>
                <h2>Займите электронную очередь</h2>

                <div class="form-group city">
                    <label for="city">Город</label>
                    <select id="city" onchange="updateBranches()">
                        <option value="" selected disabled>Выберите город</option>
                        <option value="bishkek">Бишкек</option>
                        <option value="osh">Ош</option>
                        <option value="talas">Талас</option>
                        <option value="naryn">Нарын</option>
                        <option value="batken">Баткен</option>
                        <option value="cholpon-ata">Чолпон-Ата</option>
                        <option value="jalal-abad">Джалал-Абад</option>
                    </select>
                </div>

                <div class="form-group service">
                    <label for="service">Выберите услугу:</label>
                    <select id="service" required>
                        <option value="account">Открытие и обслуживание счетов</option>
                        <option value="cash">Прием и выдача наличных денежных средств</option>
                        <option value="transfers">Переводы денежных средств</option>
                        <option value="conversion">Конверсионные операции</option>
                        <option value="securities">Операции с ценными бумагами</option>
                        <option value="documents">Документарные операции</option>
                        <option value="payments">Прием платежей</option>
                    </select>
                </div>

                <div class="form-group date">
                    <label for="date">Выберите дату:</label>
                    <input type="date" id="date" required>

                    <label for="time">Выберите время </label>
                    <select id="time" required>
                        <!-- Здесь можно программно добавить варианты времени через JavaScript -->
                    </select>
                </div>

                <div class="form-group branch">
                    <label for="branch">Выберите филиал:</label>
                    <select id="branch" required>
                        <!-- Здесь можно программно добавить варианты филиалов в зависимости от выбранного города -->
                    </select>
                </div>

                <div class="form-group submit-btn">
                    <input type="button" value="Занять очередь" onclick="openModal()">
                </div>
            </form>
        </div>
        <img src="D:\Projects\hackathon2023-\assets\mobapp.png" alt="phone" />
    </section>

    <!-- Обновленный блок для модального окна -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Подтверждение данных</h2>
            <div id="modalContent" class="modal-body"></div>
            <div class="modal-buttons">
                <button class="confirm-btn" onclick="confirmQueue()">Подтвердить</button>
                <button class="edit-btn" onclick="editQueue()">Отредактировать</button>
                <button class="cancel-btn" onclick="cancelQueue()">Отменить</button>
            </div>
        </div>
    </div>

    <script src="D:\Projects\hackathon2023-\static\main.js"></script>
</body>

</html>
